@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

  .nav-icon {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
  }

  .nav-icon:hover {
    color: #00aea5
  }

  .nav-link {
    display: inline-block;
    position: relative;
  }
  
  .nav-link:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    top: 1.75rem;
    bottom: 0;
    left: 0;
    background-color: #00aea5;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .nav-link:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .btn-base {
    height: 3rem;
    width: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.6rem;
    color: white;
  }
}